---
import services from "../collections/services.json";
---

{
  services.map((service) => {
    return (
      <div class="relative border border-transparent border-dashed p-7 group rounded-2xl">
        <div class="absolute inset-0 z-20 w-full h-full duration-300 ease-out border border-dashed bg-neutral-950 rounded-2xl border-neutral-600" />
        <div class="absolute inset-0 z-10 w-full h-full duration-300 ease-out border border-dashed rounded-2xl border-neutral-600" />
        <div class="relative z-30">
          <h2 class="flex items-center mb-3 text-xl font-bold leading-tight tracking-tight sm:text-2xl text-neutral-100">
            {service.title}
          </h2>
          <p class="text-sm text-neutral-400">
            <span>{service.description}</span>
          </p>
        </div>
      </div>
    );
  })
}
