---
import Button from "../components/common/button.astro";
import Services from "../components/services.astro";
---

<section class="max-w-4xl mx-auto px-7 lg:px-0">
  <h2 class="text-2xl font-bold leading-10 tracking-tight text-neutral-100">
    Mis Servicios
  </h2>
  <p class="mb-6 text-base text-neutral-400">
    En un mundo digital en constante evolución, contar con una presencia en
    línea efectiva es crucial para el éxito de cualquier negocio. Mis servicios
    están diseñados para satisfacer tus necesidades y ayudar a llevar tus ideas
    a la realidad. A continuación, te presento las soluciones que encontrarás
    conmigo.
  </p>

  <div class="w-full max-w-4xl mx-auto my-7 xl:px-0">
    <div
      class="flex flex-col items-start justify-start md:flex-row md:space-x-7"
    >
      <div class="w-full md:w-3/3 space-y-7">
        <Services />
      </div>
    </div>
  </div>
</section>
